<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870428236419-tiemtiu0pco8kv7cjbp0s1dsunf01v4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870428236419-tiemtiu0pco8kv7cjbp0s1dsunf01v4b</string>
	<key>API_KEY</key>
	<string>AIzaSyCb_w_vnWtA2tX6VZhRsXpOuszD7RIhn6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>870428236419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bgFlutterJob</string>
	<key>PROJECT_ID</key>
	<string>bg-flutter-job</string>
	<key>STORAGE_BUCKET</key>
	<string>bg-flutter-job.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870428236419:ios:27fe1b657e4fd17809d9b6</string>
</dict>
</plist>